.App {
  text-align: center;
}

#outside{
  margin-top:200px;
  margin-left:40%;
}
input{
  font-size:14px;
  width: 150px;
  height:25px;
}
table {
  border-collapse: collapse;
  text-align: center;
  width:250px;
}
.button{
  display: inline-block;
  padding: 10px 16px;
  font-size:14px;
  margin-bottom:0;
  font-weight:bold;
  line-height:1;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0077d9;
}
table button{
  width:60px;
  display: inline-block;
  padding: 4px 4px;
  font-size:13px;
  margin-bottom:0;
  font-weight:bold;
  line-height:1;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0077d9;
}
button:hover{
  background-color: #0077d9dc;
}
table,th,td{
  border-bottom: 1px solid #DBE2EF;
  padding:10px;
}